*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.hero__section{
    background: url(./hero.jpg);
    background-size:cover ;
    background-position: center;
    color: rgb(32, 29, 29);
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 65px;
    padding: 20px 48px;
}
.navbar a{
    color: rgb(14, 15, 18);
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
}

.container{
display: flex;
gap: 18px;
}
.container i{
    padding: 20px;
    font-size: 25px;
}

.container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px blue;
}

@media only screen and (max-width: 600px){
    .container .user_icon{
        display: flex;
}
.link{
    display: none;
}
.hero__section{
    min-height: 80vh;
}

}
.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(80vh - 65px );
}
.logo_container img{
    height: 100px;
    width: 20%;
    color: black;
}

.hero__section__logo{
    width: 200px;
    height: 50px;  
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}
.input_container{
    background-color: rgb(245, 245, 246);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 35%;
    border-radius: 30px;
}
.input_location,
.input_container_search{
    padding: 10px;
    border: none;
    outline: none;
}
.hero_container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}


#hi .row{
    padding: 80px 15%;
    display: flex;
    text-align: center;
}
#hi .row .col{
    width: 33.33%;
    border: 2px solid black;
    margin: 15px;
    box-shadow: 0 0 10px black;
}
#hi img{
    width: 100%;
}
#hi .row .col .style h2{
    padding: 10px 0px;
}
#hello .title{
    padding: 0px 15%;

}
#hello h1{
    padding: 10px 0px;
}
#ha .row{
    display: flex;
    padding: 80px 15%;
}
#ha .row .col{
    width: 25%;
    border: 2px solid black;
    margin: 15px;
    box-shadow: 0 0 10px red;
}
#ha img{
    width: 100%;
    height: 100%;
}
#ha .roshan h4{
    padding: 30px 0;

}
#ha .nice h4{
    padding: 10px 0;

}
#ha .new h4{
    padding: 30px 0;

}
#ha .hello h4{
    padding: 10px 0;

}
#roshan .row{
    display: flex;
    padding: 80px 20%;
    background: #fffbf7;
}
#roshan .row .col h1 {
    font-size: 50px;
    padding: 10px 80px;
    justify-content: space-between;
}
#roshan .row .col p{
    padding: 10px 80px;
    font-size: 20px;
}
#roshan form{
    padding: 10px 80PX;
}
#roshan .haa{
    padding: 10px 60px;
}
#roshan .row .col h3{
    padding: 30px 80px;
    text-align: left;
    justify-content: right;
    color: grey;
}
#roshan .mani img{
    padding: 20px 25px;


}
#mawa .sec{
    margin-bottom: 110px;
    padding:60px 15% ;

}
#mawa h1{
    font-size: 1.9rem;
    
    color: rgb(121, 99, 99);
}
#mawa h3{
    padding: 20px 0px;
    font-size: 30px;
    margin-bottom: 25px;
    color: black;
    border: 2px solid black;
    margin: 10px;
}
#mawa a{
    text-decoration: none;
    color: grey;
    font-size: 1.9rem;

}
#mawa i{
    font-size: 0.3rem;
    padding: 6px 5px;
    color: grey;

}
.end a{
    width: 100px;
    font-size: 1rem;
    font-weight: black;
    display: inline;
    padding: 10px 20px;
    margin: 15px 0px;
    justify-content: space-between;
}
#mawa .hi a{
    margin: 10px;
}
#fotter{
    background-color:#f8f8f8 ;
    padding: 0px 10%;
    
}
#fotter .tej img{
    padding: 10px 60px;

}
#fotter .row{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 60px;
    background-color: #f8f8f8;

}
#fotter .row .col{
    width: 25%;
    display: flex;
}
#fotter .col .style{
    width: 200px;
}
#fotter .col .style h4{
    color: black;
    white-space: nowrap;
    font-size: 30px;
}
#fotter .col .style a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    text-decoration: none;
    color: gray;
    white-space: nowrap;
    font-size: 20px;
    padding: 0 10px;
}
#fotter .col .style i{
    font-size: 25px;
    padding: 5px;
}
#fotter .col .style img{
    padding:20px;
}
#fotter .hey p{
    padding: 30px;
}